input{
	width: 20%;
	margin: 8px 0;
	box-sizing: border-box;
}
input[type=submit]{
	background-color: #4CAF50;
	border: none;
	color: white;
	cursor: pointer;
	width: 100%;
	padding: 50px;
}
input[type=text],[type=email],[type=password]{
	width: 100%;
	padding: 20px;
}